{% extends 'base.html' %}

{% block title %} About {% endblock title %}

{% block body %}

<!-- INTRODUCTION -->
<div class="container-fluid align-items-center">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h2 class="display-5 fw-normal "> DOON FIGHT CLUB</h2>
        <p class="lead fw-normal text-muted">Doon Fight Club is an MMA gym located in the beautiful valley of
            Dehradun.Here we train in different forms of fighting style to become a complete fighter.</p>
    </div>
</div>

<!-- FEATURE -->
<div class="container">
    <div class="row featurette d-flex justify-content-center align-items-center">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">BOXING<span class="text-muted">
                </span></h2>
            <p class="lead">Boxing is a combat sport in which two people, usually wearing protective gloves and other
                protective equipment such as hand wraps and mouthguards, throw punches at each other for a predetermined
                amount of time in a boxing ring.
                Being good in Boxing will elavate your striking game in MMA. It is a major part of MMA as it helps
                fighters to fight long range fights. Fighters like Conor McGregor and Francis Ngannou with Boxing
                background has gone on to become world champions in MMA .
                .</p>
        </div>
        <div class="col-md-5">
            <img class="img-fluid" src="https://source.unsplash.com/400x400/?boxing" alt="">


        </div>
    </div>
    <div class="row featurette d-flex justify-content-center align-items-center">
        <div class="col-md-7">
            <h2 class="featurette-heading">KICKBOXING<span class="text-muted">
                </span></h2>
            <p class="lead"> Kickboxing is a standup combat sport in which punches and kicks are used.It adds kick to
                your arsenal which is very important.There are lot of MMA greats like Mirkon Filipovic,Alistair
                Overeem,Stephen Thompson and Israel Adesanya who had KickBoxing Background.</p>
        </div>
        <div class="col-md-5">
            <img class="img-fluid" src="https://source.unsplash.com/400x400/?kickboxing" alt="">
            <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
                preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa"
                    dy=".3em">500x500</text>
            </svg> -->

        </div>
    </div>
    <div class="row featurette d-flex justify-content-center align-items-center">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">BRAZILIAN JUI-JITSU<span class="text-muted">
                </span></h2>
            <p class="lead">Brazilian Jiu-Jitsu is a martial art based on grappling and submission holds. It focuses on
                the skill of taking an opponent to the ground, controlling one's opponent, gaining a dominant position
                and using a number of techniques to force them into submission via joint locks or chokeholds. A good BJJ
                fighter will always have an advantage in the ground game. With skills learned from BJJ you can defeat
                opponents stronger than you. There are countless fighters with BJJ background who went on to become
                champions in MMA. Some of the greats are Royce Gracie,Demian Maia,Nate Diaz,Anderson Silva and Ryan
                Hall.
            </p>
        </div>
        <div class="col-md-5">
            <img class="img-fluid" src="https://source.unsplash.com/400x400/?jui-jitsu" alt="">
            <!-- <svg  width="500"
                height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
                preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa"
                    dy=".3em">500x500</text>
            </svg> -->

        </div>
    </div>
    <div class="row featurette d-flex justify-content-center align-items-center">
        <div class="col-md-7 ">
            <h2 class="featurette-heading">WRESTLING<span class="text-muted">
                </span></h2>
            <p class="lead">Wrestling is a combat sport involving grappling-type techniques such as clinch fighting,
                throws and takedowns, joint locks, pins and other grappling holds.Many consider wrestling as the best
                base for MMA, as it dictates where the fight goes. Khabib Nurmagomedov,Daniel Cormier,Jon Jones,Henry
                Cejudo, Brock Lesner and many more greats have a wrestling background.

            </p>
        </div>
        <div class="col-md-5">
            <img class="img-fluid" src="https://source.unsplash.com/400x400/?wrestling" alt="">


        </div>
    </div>
    <div class="row featurette d-flex justify-content-center align-items-center">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">MUAYTHAI<span class="text-muted">
                </span></h2>
            <p class="lead">Muay Thai sometimes referred to as "Thai boxing", is a martial art and combat sport that
                uses stand-up striking along with various clinching techniques. This discipline is known as the "art of
                eight limbs" as it is characterized by the combined use of fists, elbows, knees and shins.The Muay Thai
                striking power, its training methods and its clinching tactics are solid reasons to make muay thai part
                of your training. Jose Aldo,Joanna Jedrzejczyk and Jan Blachowicz are some of the greats in MMA with
                Muay Thai background.
            </p>
        </div>
        <div class="col-md-5">
            <img class="img-fluid" src="https://source.unsplash.com/400x400/?muaythai" alt="">
            <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
                preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa"
                    dy=".3em">500x500</text>
            </svg> -->

        </div>
    </div>
    <div class="row featurette d-flex justify-content-center align-items-center">
        <div class="col-md-7 ">
            <h2 class="featurette-heading">MIXED MARTIAL ARTS<span class="text-muted">
                </span></h2>
            <p class="lead">Mixed martial arts (MMA) is a hybrid combat sport incorporating techniques from above
                mentioned disciplines and many other like Karate,Taekwondo,Judo,etc.
            </p>
        </div>
        <div class="col-md-5">
            <img class="img-fluid" src="https://source.unsplash.com/400x400/?mma" alt="">
            <!-- <svg  width="500"
                height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
                preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa"
                    dy=".3em">500x500</text>
            </svg> -->

        </div>
    </div>
</div>

{% endblock body %}