{% extends 'base.html' %}

{% block title %} Coaching {% endblock title %}

{% block body %}

<!-- FEATURE -->
<div class="container my-2">
    <div class="row featurette d-flex justify-content-center align-items-center">
        <div class="col-md-7 ">
            <h2 class="featurette-heading">PERSONAL CLASS<span class="text-muted">
                </span></h2>
            <p class="lead">We provide personal training to our clients. We also give home visit if time is the issue
                with you.To know more kindly contact us.
            </p>
        </div>
        <div class="col-md-5">
            <img class="img-fluid" src="https://source.unsplash.com/400x400/?muaythai" alt="">
        </div>
        <div class="row featurette d-flex justify-content-center align-items-center">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">GROUP CLASS<span class="text-muted">
                    </span></h2>
                <p class="lead"> We have Classes from morning to evening in our gym. Feel free to come at any time for
                    free trial class.
                </p>
            </div>
            <div class="col-md-5">
                <img class="img-fluid" src="https://source.unsplash.com/400x400/?muaythai" alt="">
            </div>

        </div>
    </div>
</div>


{% endblock body %}